body {
    background-color: rgb(0, 0, 66);
  }
  

  * {color: white;
    font-family: 'Secular One', sans-serif;
    
  }
  h1 {
      font-size: 4em;
    color: yellow;
    text-align: center;
  }
  h3{
      text-align: center;
  }
  #outer {
      border: 2px solid yellow;
  }
  img{
   
    width:12%;
  }
  li{
    list-style-type: none; /* Remove bullets */
  }
  #leftcol{
      float: left;
      width: 50%;
  }
  #rightcol{
      text-align: right;
      padding-right: 40px;
    float: right;
}
.clearfix {
    overflow: auto;
  }
  button{
        color: black;
  }

#btnstuff{
    display: flex;
    height: 100px; /* Or whatever */
}
button{
    display: block;
    margin: 0 auto;
}
.btngroup{
    border: 1px solid black;
     width:12%
}
.box{
    background-color: black;
}
.box.active-animation {
    animation: party 5s infinite;
  }
  @keyframes party{
    0% {background-color: red;}
    10% {background-color: orange;}
    20% {background-color: yellow;}
    30% {background-color: green;}
    40% {background-color: blue;}
    50% {background-color: purple;} 
}